.bg-theme {
  background-color: #03203c;
}

.cart-icon {
  font-size: 2rem;
}

.hero-background {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-warning {
  padding: 8px 35px;
}